    <div class="site-overlay"></div>

    <div class="bg-parallax fullscreen parallax-overlay" data-jarallax='{"speed": 0.2}' style='background-image: url(<%= asset_path 'forest.jpg' %>)'>
        <div class="d-flex align-items-center">
            <div class="container">
                <div class=" row">
                    <div class="col-lg-10 ml-auto mr-auto text-center">
                        <div class="hero-text-style1">
                            <div class="tlt h1 font700 text-white text-capitalize mb20">
                                <ul class="texts">
                                    <li class="text-capitalize" data-out-effect="fadeOut" data-in-effect="fadeIn">La première base de données sur la vie</li>
                                    <li class="text-capitalize" data-out-effect="fadeOut" data-in-effect="fadeIn">Un éco-système pour les comprendre</li>
                                    <li class="text-capitalize" data-out-effect="fadeOut" data-in-effect="fadeIn">Rejoins le mouvement</li>
                                </ul>
                            </div><!--/.tlt-->
                            <p class="lead text-white-gray">
                                Commence à utiliser U-MAN avec une simple recherche de plante à planter !
                            </p>
                            <form method="post" action="/search">
                                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                                <div class="row">
                                    <div class="col-md-12 mb20">
                                        <input type="text" class="form-control" placeholder="Exemple : tomate" required="" name="plante_search">
                                    </div>

                                    <div class="col-md-12">
                                        <!-- IL FAUT CHANGER LE BUTTON EN BALISE <a> :D -->
                                        <button type="submit" class="btn btn-primary mb-2">Rechercher</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--hero-->

    <div class="container pb90 pt70">

        <h3>Un objectif simple</h3>
        <p>
          Le projet U-MAN est né de la nécessité d'une compréhension des relations des organismes vivant entre eux et dans leurs environnement</p>
        <p>
            Avec l'émergence des nouvelles technologies numériques, et un besoin croissant de data, l'agriculture, l'écologie et la permaculture ont l'opportunité grandissante de travailler ensemble.
        </p>
         <p>
            La révolution numérique transformant le secteur de la production agricole, forestière, biocarburants peut aller encore plus loin. La permaculture s'inscrit dans cette démarche comme une solution évidante. U-MAN établie le premier lien de recherche
        </p>
    </div>

    <div class="cta bg-faded pt50 pb50">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <h2 class="h3">Une communauté de chercheurs internationale</h2>
                    <p>
                        U-MAN est une plateforme de développement et de recherche scientifique, dématerialisée, elle permet la mise en relation des acteurs via la standardisation de l'information.
                    </p>
                </div>
                <div class="col-lg-3">

                  <!-- Formulaire d'ajout bdd-->

                    <a href="#" class="btn btn-rounded btn-lg btn-outline-primary mt30">
                        Nous rejoindre
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container pt60 pb30">
        <div class="row">
            <div class="col-lg-4 mb30">
                <%= image_tag('team1.jpg', :size => "300x300", :class => "mb30") %>
                <h4 class="text-uppercase">Nous faire confiance</h4>
                <p>
                    Nous sommes fiers d'être open-source et saurons grandir avec la précision nécessaire.
                </p>
            </div>
            <div class="col-lg-4 mb30">
                <%= image_tag('index2.jpg', :size => "300x300", :class => "mb30") %>
                <h4 class="text-uppercase">Notre mission</h4>
                <p>
                    La compréhension des synergies dans le monde du vivant et ses relations symbiotiques.
                </p>
            </div>
            <div class="col-lg-4 mb30">
                <%= image_tag('index3.jpg', :size => "300x300", :class => "mb30") %>
                <h4 class="text-uppercase">Notre stratégie</h4>
                <p>
                    Développer le premier outil dématerialisé permettant l'agglomération données liées aux écosystèmes à l'échelle mondiale
                </p>
            </div>
        </div>
    </div>

    <!-- <div class="bg-parallax parallax-overlay pt100 pb100" data-jarallax-video="https://www.youtube.com/watch?v=I6jmZ5plZ3o&" data-jarallax-original-styles="null">
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-8 ml-auto mr-auto">
                    <h3 class=" text-white h1">Beautiful video parallax</h3>
                    <p class="text-white-gray lead">
                        A fully featured and amazing template that Looks beautiful on all size of devices.
                    </p>
                    <a href="#" class="btn btn-white-outline btn-lg">Learn More</a>
                </div>
            </div>
        </div>
    </div> -->
