<div class="page-titles-img title-space-lg parallax-overlay bg-parallax" data-jarallax='{"speed": 0.4}' style='background-image: url("images/bg13.jpg");background-position:top center;'>
  <div class="container">
      <div class="row">
          <div class=" col-md-12">
              <h1 class="text-uppercase">Résultats de recherche</h1>
          </div>
      </div>
  </div>
</div><!--page title end-->
<div class="container" style="position:relative">
	<% if params[:plante] != nil %>
		<br><br>
		<h2>Conseillé</h2>
		<table class="table">
		<% @tab_association_plante.each do |association| %>
			<% if association.source == 1 %>
				<tbody>
					<td><%= image_tag(association.plantae.Img, size: "80x80") %></td>
					<td><%= association.plantae.Plante %></td>
					<td>- sol -</td>
					<td><a href="/search/<%= association.plantae.Plante %>">Autres combinaisons</a></td>
					<td><% if association.is_valide == true%>
                  Validé
                  <% else %>
                    En cours de validation
                    <%end%>
            </td>
				</tbody>
			<% end %>
		<% end %>
		</table>
		<br><br>
		<h2>Déconseillé</h2>
		<table class="table">
		<% @tab_association_plante.each do |association| %>
			<% if association.source == 0 %>
				<tbody>
					<td><%= image_tag(association.plantae.Img, size: "80x80") %></td>
					<td><%= association.plantae.Plante %></td>
					<td>- sol -</td>
					<td><a href="/search/<%= association.plantae.Plante %>">autres combinaisons</a></td>
          <td><% if association.is_valide == true%>
                  Validé
                  <% else %>
                    En cours de validation
                    <%end%>
            </td>
				</tbody>
			<% end %>
		<% end %>
		</table>
		<br><br>
		<h2>Avis contradictoires</h2>
		<table class="table">
		<% @tab_association_plante.each do |association| %>
			<% if association.source == 2 %>
				<tbody>
					<td><%= image_tag(association.plantae.Img, size: "80x80") %></td>
					<td><%= association.plantae.Plante %></td>
					<td>- sol -</td>
					<td><a href="/search/<%= association.plantae.Plante %>">autres combinaisons</a></td>
          <td><% if association.is_valide == true%>
                  Validé
                  <% else %>
                    En cours de validation
                    <%end%>
            </td>
				</tbody>
			<% end %>
		<% end %>
		</table>
		<br><br>

	<% else %>
		<h1> <a href="/">Refaire une recherche</a> </h1>
	<% end %>
</div>
