<div class="page-titles-img title-space-lg bg-parallax parallax-overlay" data-jarallax='{"speed": 0.2}' style='background-image: url("images/bg8.jpg")'>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 ml-auto mr-auto">
                <h1 class='text-uppercase'>Une communauté engagée</h1>

             </div>
        </div>
    </div>
</div><!--page title end-->
<div class='row no-margin'>
    <div class='col-lg-8  mr-auto ml-auto'>
      <h3><center>Le mot du fondateur</center></h3>
        <p class='lead mb50 text-center'>
            L’oeuvre est titanesque, et pour réussir nous nous entourons des acteurs les plus importants du secteurs.
            Avec de tels dimensions, seule une communauté globale, d’acteur impliqués permet la mise en oeuvre de
            solutions pérennes.
            </br></br>M. Duchateau</br></br></br>
            <img src=<%= asset_path 'team.jpg' %> alt=""></img>
          </p>
    </div>
</div>

<div class='container-fluid pt40 mb40'>
  <div class='row no-margin'>
      <div class='col-lg-8  mr-auto ml-auto'>
          <p class='lead mb50 text-center'>
            La colonne vertébrale de U-MAN. Formé par des professionnels directement
            impliqués dans le développement de notre “Think-Tank”, de la platforme,
            et des dynamiques internes qui nous permettent à tous de profiter et d’appliquer
            cette technologie tant nécessaire.
            </p>
      </div>
  </div>

<!--     <div class="title-heading1 mb60">
                <h3>Team - Circle</h3>
            </div> -->
	<div class="row pb60">
	    <div class="col-lg-3 col-md-6  mb30">
	        <div class="team-card-default">
	            <img src=<%= asset_path 'team1.jpg' %> alt="" class="img-fluid rounded-circle">
	            <div class="team-default-content text-center pt30">
	                    <h4 class="mb0 text-uppercase">Matthieu Duchateau</h4>
	                    <span>Porteur du projet</span>
	                    <!-- <ul class="list-inline pt10">
	                        <li class="list-inline-item">
	                            <a href="#"><i class="fa fa-facebook"></i></a>
	                        </li>
	                        <li class="list-inline-item">
	                            <a href="#"><i class="fa fa-twitter"></i></a>
	                        </li>
	                        <li class="list-inline-item">
	                            <a href="#"> <i class="fa fa-youtube"></i></a>
	                        </li>
	                        <li class="list-inline-item">
	                            <a href="#"><i class="fa fa-instagram"></i></a>
	                        </li>
	                    </ul> -->
	            </div>
	        </div>
	    </div><!--/col-->
      <div class="col-lg-3 col-md-6  mb30">
          <div class="team-card-default">
              <img src=<%= asset_path 'team2.jpg' %> alt="" class="img-fluid rounded-circle">
              <div class="team-default-content text-center pt30">
                      <h4 class="mb0 text-uppercase">Mika Mesic</h4>
                      <span>Marketing manager</span>
                      <!-- <ul class="list-inline pt10">
                          <li class="list-inline-item">
                              <a href="#"><i class="fa fa-facebook"></i></a>
                          </li>
                          <li class="list-inline-item">
                              <a href="#"><i class="fa fa-twitter"></i></a>
                          </li>
                          <li class="list-inline-item">
                              <a href="#"> <i class="fa fa-youtube"></i></a>
                          </li>
                          <li class="list-inline-item">
                              <a href="#"><i class="fa fa-instagram"></i></a>
                          </li>
                      </ul> -->
              </div>
          </div>
      </div><!--/col-->
      <div class="col-lg-3 col-md-6  mb30">
          <div class="team-card-default">
              <img src=<%= asset_path 'hulot.jpg' %> alt="" class="img-fluid rounded-circle">
              <div class="team-default-content text-center pt30">
                      <h4 class="mb0 text-uppercase">Nicolas Hulot</h4>
                      <span>Mentoring</span>
                      <!-- <ul class="list-inline pt10">
                          <li class="list-inline-item">
                              <a href="#"><i class="fa fa-facebook"></i></a>
                          </li>
                          <li class="list-inline-item">
                              <a href="#"><i class="fa fa-twitter"></i></a>
                          </li>
                          <li class="list-inline-item">
                              <a href="#"> <i class="fa fa-youtube"></i></a>
                          </li>
                          <li class="list-inline-item">
                              <a href="#"><i class="fa fa-instagram"></i></a>
                          </li>
                      </ul> -->
              </div>
          </div>
      </div><!--/col-->
      <div class="col-lg-3 col-md-6  mb30">
          <div class="team-card-default">
              <img src=<%= asset_path 'team2.jpg' %> alt="" class="img-fluid rounded-circle">
              <div class="team-default-content text-center pt30">
                      <h4 class="mb0 text-uppercase">Joanne Rabenarisoa</h4>
                      <span>Dévellopeuse full-stack</span>
                      <!-- <ul class="list-inline pt10">
                          <li class="list-inline-item">
                              <a href="#"><i class="fa fa-facebook"></i></a>
                          </li>
                          <li class="list-inline-item">
                              <a href="#"><i class="fa fa-twitter"></i></a>
                          </li>
                          <li class="list-inline-item">
                              <a href="#"> <i class="fa fa-youtube"></i></a>
                          </li>
                          <li class="list-inline-item">
                              <a href="#"><i class="fa fa-instagram"></i></a>
                          </li>
                      </ul> -->
              </div>
          </div>
      </div><!--/col-->
      <div class="col-lg-3 col-md-6  mb30">
	        <div class="team-card-default">
	            <img src=<%= asset_path 'team2.jpg' %> alt="" class="img-fluid rounded-circle">
	            <div class="team-default-content text-center pt30">
	                    <h4 class="mb0 text-uppercase">Rémi Boivin</h4>
	                    <span>Dévellopeur Back-End</span>
	                    <!-- <ul class="list-inline pt10">
	                        <li class="list-inline-item">
	                            <a href="#"><i class="fa fa-facebook"></i></a>
	                        </li>
	                        <li class="list-inline-item">
	                            <a href="#"><i class="fa fa-twitter"></i></a>
	                        </li>
	                        <li class="list-inline-item">
	                            <a href="#"> <i class="fa fa-youtube"></i></a>
	                        </li>
	                        <li class="list-inline-item">
	                            <a href="#"><i class="fa fa-instagram"></i></a>
	                        </li>
	                    </ul> -->
	            </div>
	        </div>
	    </div><!--/col-->
      <div class="col-lg-3 col-md-6  mb30">
          <div class="team-card-default">
              <img src=<%= asset_path 'team2.jpg' %> alt="" class="img-fluid rounded-circle">
              <div class="team-default-content text-center pt30">
                      <h4 class="mb0 text-uppercase">Maï lan Peng</h4>
                      <span>Dévellopeur Back-End</span>
                      <!-- <ul class="list-inline pt10">
                          <li class="list-inline-item">
                              <a href="#"><i class="fa fa-facebook"></i></a>
                          </li>
                          <li class="list-inline-item">
                              <a href="#"><i class="fa fa-twitter"></i></a>
                          </li>
                          <li class="list-inline-item">
                              <a href="#"> <i class="fa fa-youtube"></i></a>
                          </li>
                          <li class="list-inline-item">
                              <a href="#"><i class="fa fa-instagram"></i></a>
                          </li>
                      </ul> -->
              </div>
          </div>
      </div><!--/col-->
	     <div class="col-lg-3 col-md-6  mb30">
	        <div class="team-card-default">
	            <img src=<%= asset_path 'team3.jpg' %> alt="" class="img-fluid rounded-circle">
	            <div class="team-default-content text-center pt30">
	                    <h4 class="mb0 text-uppercase">Gwendoline Cassand</h4>
	                    <span>Dévellopeuse Back-end</span>
	                    <!-- <ul class="list-inline pt10">
	                        <li class="list-inline-item">
	                            <a href="#"><i class="fa fa-facebook"></i></a>
	                        </li>
	                        <li class="list-inline-item">
	                            <a href="#"><i class="fa fa-twitter"></i></a>
	                        </li>
	                        <li class="list-inline-item">
	                            <a href="#"> <i class="fa fa-youtube"></i></a>
	                        </li>
	                        <li class="list-inline-item">
	                            <a href="#"><i class="fa fa-instagram"></i></a>
	                        </li>
	                    </ul> -->
	            </div>
	        </div>
	    </div><!--/col-->
	     <div class="col-lg-3 col-md-6  mb30">
	        <div class="team-card-default">
	            <img src=<%= asset_path 'team4.jpg' %> alt="" class="img-fluid rounded-circle">
	            <div class="team-default-content text-center pt30">
	                    <h4 class="mb0 text-uppercase">Farida</h4>
	                    <span>Devellopeuse front-end</span>
	                    <!-- <ul class="list-inline pt10">
	                        <li class="list-inline-item">
	                            <a href="#"><i class="fa fa-facebook"></i></a>
	                        </li>
	                        <li class="list-inline-item">
	                            <a href="#"><i class="fa fa-twitter"></i></a>
	                        </li>
	                        <li class="list-inline-item">
	                            <a href="#"> <i class="fa fa-youtube"></i></a>
	                        </li>
	                        <li class="list-inline-item">
	                            <a href="#"><i class="fa fa-instagram"></i></a>
	                        </li>
	                    </ul> -->
	            </div>
	        </div>
	    </div><!--/col-->

	</div>
</div>

<div class="container">
	<div class="title-heading1 mb60">
	    <h3>Rejoignez-nous</h3>
	</div>
    <div class="row pb30 align-items-end">
        <div class="col-lg-6 col-md-6 mb90">
        	<blockquote class="blockquote text-center">
        		<p class="mb-0">"Dans la nature, tout a toujours une raison. Si tu comprends cette raison, tu n'as plus besoin de l'expérience."</p>
        		<footer class="blockquote-footer">Léonard de Vinci</footer>
        	</blockquote>
        </div>
        <div class="col-lg-5 col-md-6 mb20">
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Nom">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Prénom">
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Email">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Description">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-rounded btn-primary btn-block">Envoyer</button>
                </div>
            </form>
        </div>

    </div>
</div>

<!--
<div class="form-group" style="margin-left: 43%; margin-top: 2%">
	<button type="submit" class="btn btn-rounded btn-primary">Nous rejoindre</button>
</div> -->
<!--
<form action= "/equipe" method= "post"></br>
  <input type= "text" name= "name"></input></br>
  <input type= "email" name= "email"></input></br>
  <input type= "text" name= "phone_number"></input></br>
  <input name="authenticity_token" type="hidden" value="J7CBxfHalt49OSHp27hblqK20c9PgwJ108nDHX/8Cts=" />
  <button type= "submit">Postuler</button>
</form>
 -->

  <div class="container">
      <div class="row">
          <div class=" col-md-12">
              <h1 class="text-uppercase">Don</h1>
          </div>
      </div>
  </div>

<div class="container pt90 pb50">
            <p class="lead text-center">

Êtes vous un philanthrope cherchant un mouvement dans l’avenir à long terme ? Notre 	projet et communauté est idéale pour vous.


            </p>
            <br>

            <br>

        <div class="bg-faded pt90 pb60">
            <div class="container">
                <div class="title-heading1 mb40">
                    <h3>Pourquoi nous soutenir ?</h3>
                </div>
                <div class="row">
                    <div class="col-lg-4 mb30">
                        <div class="icon-box icon-box-center icon-border-box bg-white">

                            <h4>Pourquoi donner ?</h4>
                            <p>
                              Protéger l'environnement, c'est protéger la planète et tous les êtres vivants.
                              Cela nécessite d'agir sur tous les fronts : climat, énergie, systèmes alimentaires,
                              forêt, vie sauvage, océans, par des actions de terrain et de sensibilisation du public.
                              Afin d'être le plus efficace possible, U-MAN fait le choix d'utiliser les dons selon
                              les besoins des programmes et de ne pas affecter les dons, sauf demande expresse.</br>
                              Votre don vous permet également de bénéficier d’une déduction fiscale (valable 5 ans)
                              66 % du montant de votre don au profit de U-MAN peut être déduit de votre impôt sur le
                              revenu. Le plafond de la déduction s’élève à 20% de votre revenu imposable.
                              75 % du montant de votre don au profit du U-MAN peut être déduit de votre IFI. Le plafond de la déduction s'élève à 50 000 €.
                              Les comptes de l'association sont contrôlés et certifiés par un commissaire aux comptes.
                               Ils sont consultables dans notre rapport d'activité.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 mb30">
                        <div class="icon-box icon-box-center icon-border-box bg-white">

                            <h4>Respect de votre vie privée</h4>
                            <p>


Vos coordonnées nous sont indispensables pour vous envoyer votre reçu fiscal.
 Toutes les données collectées sont également conservées à des fins de gestion
  des donateurs et de prospection pour mieux vous connaître, et conformément à la
  loi informatique et libertés du 6 janvier 1978, modifiée par la loi du 20 juin 2018
  sur la protection des données, vous disposez d'un droit d'accès, d’opposition, de modification
  , de rectification, de portabilité, et de suppression de vos données.</br>

Pour exercer vos droits ou pour de plus amples informations, adressez-vous à :</br>

Par courrier :</br>
U-MAN</br>
Responsable de traitement</br>
6, rue Marie Stuart 75002</br>
Par e-mail : duchateaumatthieu@gmail.com</br>
Par téléphone : 06 89 57 94 00</br>

Toutes les informations bancaires pour traiter le paiement sont totalement sécurisées. Elles ne sont en aucun cas conservées sur nos systèmes informatiques.

                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 mb30">
                        <div class="icon-box icon-box-center icon-border-box bg-white">

                            <h4>Les missions de U-MAN</h4>
                            <p>
                              Nos Missions sont au nombre de 3: </br>
                              - Etablir une communication fiable via notre plateforme pour centraliser l'information.</br>
                              - Recruter les talents nécessaires au développement de notre projet.</br>
                              - Mise a disposition de la base de donnée en OPEN SOURCE.</br>
                              </br>
Dans le but d'atteindre nos objectifs, nous recherchons des financements, via le secteur publique et privé.
Nous faisons un point d'honneur a garder notre indépendance.
Pour l’année 2018, les dépenses sont liées aux besoins en ressources techniques (DATA center / serveurs / gestion).

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mb50 pt90">
            <div class="title-heading1 mb40">
                <h3>Comment donner ?</h3>
            </div>
            <div class="row">
                <div class="col-md-8 mb40">

                    <p>
                      Vos dons sont notre force, nous sommes indépendant du secteur privé, et sommes financé a 60% par des dons de particuliers.
                    </p>

                </div class="col-md-5 mb40">
                    <%= form_tag don_path do |f| %>

                      <article>
                        <% if flash[:error].present? %>
                          <div id="error_explanation">
                          <p><%= flash[:error] %></p>
                          </div>
                        <% end %>

                        <label class="amount">
                          <p>Montant libre :</p>
                          <input type="text" name="user_donation" id="user_donation"> €
                        </label>
                      </article>

                      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                              data-currency="eur"
                              data-description="Don Mensuel"
                              data-locale="auto">
                      </script>

                    <% end %>
                </div>

        </div> <!-- fin container -->
        <br>
  <center>
    <h2> <a href="/donateurs">Voir tous les donateurs</a> </h2>
  </center>
